.patent-table{
    width: calc(100% - #{$col-and-gutter});
    height: 1000px;
    margin: 60px 0 0 0;
    table{
        width: 100%;
        margin: 0;
        padding: 0;

        #column{
            margin: 0;
        }
        
        .name-column{
                width: calc( 4 * #{$col-and-gutter} - #{$column-gutter});
                h4.uuid{
                    padding-top: 17px;
                    color: #333333;
                }
        }
        .date-column{
            width: calc( 2 * #{$col-and-gutter});
        }
        .membership{
            width: calc( 2 * #{$col-and-gutter});
        }
        thead tr td{
            padding: 0 0 0 0 ;
        }
        tbody tr td{
                padding: 60px 0 0 0 ;
        }
    
    }

}